[submodule "vendor/roxy"]
	path = vendor/roxy
	url = https://github.com/nika34-glitch/roxy.git
[submodule "vendor/proXXy"]
	path = vendor/proXXy
	url = https://github.com/0xSolanaceae/proXXy.git
[submodule "vendor/proxyhub"]
	path = vendor/proxyhub
	url = https://github.com/ForceFledgling/proxyhub.git
[submodule "vendor/scrapoxy"]
	path = vendor/scrapoxy
	url = https://github.com/scrapoxy/scrapoxy.git
[submodule "vendor/ProxyScraper"]
	path = vendor/ProxyScraper
	url = https://github.com/ProxyScraper/ProxyScraper.git
[submodule "vendor/Bloody-Proxy-Scraper"]
	path = vendor/Bloody-Proxy-Scraper
	url = https://github.com/NoobToolzz/Bloody-Proxy-Scraper.git
[submodule "vendor/gather-proxy-parsing"]
	path = vendor/gather-proxy-parsing
	url = https://github.com/veksa/gather-proxy-parsing.git
[submodule "vendor/Flux"]
	path = vendor/Flux
	url = https://github.com/xvertile/Flux.git
